<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Toppings Form</title>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>


    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.ico">

</head>
<body>
<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-4 col-md-offset-3">
            <form  th:object="${toppings}" th:action="@{/toppings/}" method="post">
                <input type="hidden" th:field="*{id}"/>
                <div class="pannel-group">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h1 class="panel-title"><span th:text="*{id} != null ? 'Edit ' : 'New '"></span>Toppings Information</h1>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-8 form-group">
                                    <label>Sauce:</label>
                                    <input type="text" class="form-control" th:field="*{sauce}"/>
                                </div>
                                <div class="col-md-4 form-group">
                                    <label>Pizza:</label>
                                    <select class="form-control" th:field="*{artistId}">
                                        <option th:each="pizza : ${pizzas}" th:text="${pizza.firstName} + ' ' + ${pizza.number}" th:value="${pizza.id}">PIZZA</option>
                                        <option th:remove="all">MARGARITA</option>
                                        <option th:remove="all">AMERICANA</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <label>Dough:</label>
                                    <input type="text" class="form-control" th:field="*{dough}"/>
                                </div>
                                <div class="col-md-6 form-group">
                                    <label>Toppings:</label>
                                    <input type="text" class="form-control" th:field="*{toppings1}"/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <label>Toppings:</label>
                                    <input type="text" class="form-control" th:field="*{toppings2}"/>
                                </div>
                                <div class="col-md-6 form-group">
                                    <label>Sizes:</label>
                                    <select class="form-control" th:field="*{sizeId}">
                                        <option th:each="size : ${sizes}" th:text="${size.name}" th:value="${size.id}">SIZES</option>
                                        <option th:remove="all">32 cm</option>
                                        <option th:remove="all">42 cm</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>